@use './sass/variables';

.main{
    display: flex;    
    &__header{
        background-color: yellow;
    }
    &__form{
        background-color: green;
        &__group{
            display: flex;
        }
    }
}