@use './sass/variables';

.main{
    width: 1440px;   
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 414px){
        display: initial;
        &__form{
            padding: 90px 0 45px;
        }
    }
}