@use "./sass/variables";

.main {
  width: 1440px;
  margin: auto;
  display: flex;
  // justify-content: center;
  align-items: center;
  &__header {
    width: 720px;
  }
  &__form {
    width: 720px;
  }

  @media (max-width: 414px) {
    display: initial;
    &__header {
      width: 375px;
    }

    &__form {
      width: 375px;
      padding-top: 90px;
    }
  }
}
